<html ng-app="App">
<head>
	<title>Chat</title>
	
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	
	<script src="js/socket-io.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/angular.js"></script>

	<script src="js/client.js"></script>
</head>
<body ng-controller="main">
	<input type="text" ng-model="userInput"></input>
	<input type="button" ng-click="sendMessage()" value="Send"></input>
	<div class="messagebox">
		<div ng-repeat="message in messages | reverse track by $index">
			<i class="name">{{message.name}}</i>
			<p class="{{message.style}}">{{message.text}}</p>
		</div>
	</div>
</body>
</html>