<div class="chat-view">
	<a href="/#/">Home</a>
	Here: {{$parent.userName}}
	<div class="chat-view-content" scroll-bottom="messages">
		<div ng-repeat="message in messages track by $index">
			<div class="chat-view-bubble">
				<p class="chat-view-bubble-name" ng-class="{'chat-view-bubble-own-name': message.name == $parent.name, 'chat-view-bubble-name': message.name != $parent.name}">{{message.name}}</p>{{message.text}}
			</div>
		</div>
	</div>

	<div class="chat-view-input-wrapper">
		<input placeholder="Type message here" type="text" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="userInput" ng-keydown="($event.keyCode == 13) ? sendMessage() : 0"></input>
	</div>
</div>