<div class="chat-view">
	<div class="chat-view-content" scroll-bottom="messages">
		<div ng-repeat="message in messages track by $index">
			<div class="chat-view-bubble">
				<p class="chat-view-bubble-name" ng-class="{'hide': message.data.style != 'normal', 'chat-view-bubble-name': message.data.style == 'normal'}">{{message.name}}<span class="chat-view-bubble-time">{{message.time}}</span></p>
				<code class="color-{{message.data.style}}">{{message.data.text}}</code>
			</div>
		</div>
	</div>

	<div class="chat-view-input-wrapper">
		<input placeholder="Type message here" type="text" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="userInput" ng-keydown="($event.keyCode == 13) ? sendMessage() : 0"></input>
	</div>
</div>